@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');

body {
  font-family: "Koho";
}

:root {
  --primary-white: #fff;
}

/* header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;   
  background-image: url("../images/flipped-hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  }


header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--tertiary-color);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--tertiary-color);
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;    }

header nav ul li {
  display: inline;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
} */




nav a.nav-link {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  font-family: 'KoHo', sans-serif;
}

.a.nav-link{
  justify-content: right !important;
}

.navbar-nav > li > a {
  justify-content: right;
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.navbar-brand {
  color: var(--primary-white);
  font-size: 4rem;
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

